
<h3 > Dear <%= @guest.name.camelize %>,</h3>

<h3 > You are cordially invited to <%= link_to 'Jashn 2012' , 'www.jashn-2012.com' , target: '_blank'%> .</h3>
<h3 > Date: 28th December 2012 </h3>
<h3 >  Venue: 360° Degree Restaurant<br>
            1st Floor, Home Town, 247 park, <br>
            LBS Marg, Vikhroli, Mumbai<br></h3>



<h3 > Thank you.</h3>
<h3 > Team ,Jashn 2012</h3>
<p> jashn-2012.com </p>


