<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% attending_guests(guests).each_with_index do |name,i|%>
    <tr>
      <td><%= name %></td>
      <td><span class='icon-ok offset1'> </span></td>
     </tr>
  <% end %>
  </tbody>
</table>