<!--  Carousel - consult the Twitter Bootstrap docs at 
  http://twitter.github.com/bootstrap/javascript.html#carousel -->
  <h3>Attendees <a href="#myModal" role="button" class="label label-warning" data-toggle="modal">Check attendee list <i class="icon-user"> </i></a></h3>
  <div id="attendee-carousel-id" class="carousel slide"><!-- class of slide for animation -->
    <div class="carousel-inner">
     <!-- class of active since it's the first item -->
     <% for attendee in get_attendees %>
       <div class="item">
        <%= image_tag attendee[1] %>
        <div class="carousel-caption">
        <p class='lead'> <%= formatted_name attendee[0] %> <i class='icon-star'></i></p>
      </div>
    </div>
    <% end %>
 </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
  href values must reference the id for this carousel -->
</div><!-- /.carousel -->
<script type="text/javascript">
$('#attendee-carousel-id').carousel({
  interval: 1000
})
</script>