<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<h3>Attendees <i class="icon-user"></i></h3>
<div id="attendee-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <%= image_tag 'avatar1.jpg' %>
      <div class="carousel-caption">
        <p class='lead'>Ankit is Attending <i class='icon-star'></i></p>
      </div>
    </div>
    <div class="item">
       <%= image_tag 'avatar2.jpg' %>
      <div class="carousel-caption">
         <p class='lead'>Ankit is Attending <i class='icon-star'></i></p>
      </div>
    </div>
     <div class="item">
       <%= image_tag 'avatar3.jpg' %>
      <div class="carousel-caption">
         <p class='lead'>Ankit is Attending <i class='icon-star'></i></p>
      </div>
    </div>
    
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
</div><!-- /.carousel -->
<script type="text/javascript">
$('#attendee-carousel-id').carousel({
  interval: 1000
})
</script>