<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="myModal">
	  <button style="margin-right: 10px" aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
	 
	<div class="modal-body">
	  <%= render 'shared/attending', :guests => guests %>
	</div>
	<div class="modal-footer">
	  <button data-dismiss="modal" class="btn">Close</button>
	  <button class="btn btn-warning">Save changes</button>
	</div>

</div>