<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="myModal">
	<button style="margin-right: 10px" aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
	
	<div class="modal-body" style="background-color: #FFFAEF;">
		<%= render 'shared/attending' %>
	</div>

</div>
