<table class="table" id='source'>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% for guest_name in guests_attending %>
        <td>
          <i class='icon-ok' style="margin-right:5px"></i>
          <%= guest_name -%>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<table id="des"></table>
<script type="text/javascript">
$(function(){
  while($("#source td").length > 0){
    $("#des").append($("<tr/>").append($("#source td").slice(0, 4)));
  }
  $("#source").remove(); 
});
</script>