<blockquote>
  <p class='text-warning'>Designed and Developed by </p>
  <small> <%= link_to 'Ankit Gupta', 'http://github.com/ankit8898' , {class: 'text-warning', target: '_blank'}%> |
   <cite title="Source Title"><%= link_to 'Ashish Upadhaye' ,'http://rorashish.blogspot.com' ,{class: 'text-warning', target: '_blank'}%></cite> | <cite title="Source Title"><%= link_to 'Manasi Kshatriya' ,"JavaScript:void(0);", {class: 'text-warning'}%></cite></small>
</blockquote>
