<blockquote>
  <p class='text-warning'>Designed and Developed by:</p>
  <small>Ankit Gupta | <cite title="Source Title">Ashish Upadhaye</cite> | <cite title="Source Title">Ruchi Singh</cite></small>
</blockquote>