
<div class="span4">
	<%= render 'shared/attendee' %>  
	<%= render 'shared/footer' %>
</div>
<div class="span4">
	<h3>28th December, 2012  <i class="icon-calendar"></i></h3>
	<address>
		
		<strong>360° Degree Restaurant</strong><br>
		1st Floor, Home Town, 247 Park, <br>
		LBS Marg, Vikhroli, Mumbai<br>
		<p class='text-warning'>Phone: 022 61775253 </p>
			<iframe width="250" height="120" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Kensington+B+Wing+-+TATA+Consultancy+Services,+Powai,+Maharashtra,+India&amp;daddr=Hometown,+247+Park,+Hincon+House,+-400083,+Lal+Bahadur+Shastri+Road,+Vikhroli+West,+MH,+India&amp;hl=en&amp;geocode=FaegIwEdsIhYBCE6dyR7b-ikUykDFIYP6MfnOzE6dyR7b-ikUw%3BFc7AIwEd9sVYBCkLaNq4k8fnOzH18DLppfQOmg&amp;aq=1&amp;oq=kensin&amp;sll=19.122179,72.92613&amp;sspn=0.022544,0.038495&amp;mra=ls&amp;ie=UTF8&amp;ll=19.122179,72.92613&amp;spn=0.01677,0.01747&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=Kensington+B+Wing+-+TATA+Consultancy+Services,+Powai,+Maharashtra,+India&amp;daddr=Hometown,+247+Park,+Hincon+House,+-400083,+Lal+Bahadur+Shastri+Road,+Vikhroli+West,+MH,+India&amp;hl=en&amp;geocode=FaegIwEdsIhYBCE6dyR7b-ikUykDFIYP6MfnOzE6dyR7b-ikUw%3BFc7AIwEd9sVYBCkLaNq4k8fnOzH18DLppfQOmg&amp;aq=1&amp;oq=kensin&amp;sll=19.122179,72.92613&amp;sspn=0.022544,0.038495&amp;mra=ls&amp;ie=UTF8&amp;ll=19.122179,72.92613&amp;spn=0.01677,0.01747&amp;t=m" style="text-align:left" target="_blank;"  class='text-warning'><p  class='text-warning'>View Larger Map</p></a></small>

	</address>

	<address>
		<strong>Contact: Ankit Gupta</strong><br>
		<p class='text-warning'>Phone: 91 9004408181 </p>
	</address>
</div>
</div>
<%= render 'shared/attending_list' %>
