
<div class="span4">
	<h3>Attendees <i class="icon-user"></i></h3>
	<table class="table table-striped">
		<tbody>
			<% for guest in Guest.all %>
    <tr>
      <td> <%= guest.name  + " " + " is Attending" %></i></td>
     
    </tr>
    <%end%>
      
  </tbody>
	</table>
</div>
<div class="span4">
	<h3> <i class="icon-calendar"></i> 28th December, 2012 </h3>
	<address>
		
		<strong>Twitter, Inc.</strong><br>
		795 Folsom Ave, Suite 600<br>
		San Francisco, CA 94107<br>
		<abbr title="Phone">P:</abbr> (123) 456-7890
	</address>
</div>

</div>

