
<div class="span4">
	<%= render 'shared/attendee' %>
	
<%= render 'shared/footer' %>
</div>
<div class="span4">
	<h3>28th December, 2012  <i class="icon-calendar"></i></h3>
	<address>
		
		<strong>360° Degree</strong><br>
		1st Floor, Home Town, 247 Park, <br>
		LBS Marg, Vikhroli, Mumbai<br>
		<p class='text-warning'>Phone: 022 61775253 </p>
	</address>

	<address>
		<strong>Contact: Ankit Gupta</strong><br>
		<a href="mailto:#" class='text-warning'>ankit.gupta8898@gmail.com</a>
	</address>
</div>
<div class="span2">

</div>
</div>
<%= render 'shared/attending_list' %>
