
<div class="span4">
	<%= render 'shared/attendee' %>
</div>
<div class="span4">
	<h3>28th December, 2012  <i class="icon-calendar"></i></h3>
	<address>
		
		<strong>360° Degree</strong><br>
		1st Floor, Home Town, 247 Park, <br>
		LBS Marg, Vikhroli, Mumbai<br>
		<abbr title="Phone">P:</abbr>  022 61775253
	</address>

	<address>
		<strong>Contact: Ankit Gupta</strong><br>
		<a href="mailto:#">ankit.gupta8898@gmail.com</a>
	</address>
</div>
<div class="span2">
	<a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">Check attending list</a>
</div>
</div>
<%= render 'shared/attending_list', :guests => @guests %>
